#iconBox {
    -fx-background-color : #E4E7E6;
    -fx-border-width: 0px 3px 0px 0px;
    -fx-border-right-style: solid;
    -fx-border-color: #87929b;
}

#myRB {
    -fx-font:9pt "Arial";
    -fx-padding:2;
}

.label {
    -fx-font:bold 11pt "Arial";
    -fx-padding:2;
}

