#myRB {
    -fx-font: 9pt"Arial";
    -fx-text-fill:white;
}

#myRB .radio {
    -fx-background-color: #AEB6BF;
    -fx-border-color : transparent;
}

#myRB:selected .radio {
    -fx-background-color: #5D6D7E;
    -fx-border-color : transparent;
}

#labelTitle {
    -fx-font:bold 13pt"Arial";
    -fx-text-fill:white;

}

#labelNormal {
    -fx-font:10pt"Arial";
    -fx-padding:5;
    -fx-text-fill:white;
}

#vBox {
  -fx-background-color : #545454;
}

#myBtn {
    -fx-font-size:18pt;
    -fx-font:bold 10pt"Arial";
    -fx-background-color: #545454;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-color: #3f41d1;
    -fx-border-radius: 4px;
    -fx-text-fill:white;
}

#myBtn:hover {
    -fx-background-color: #808080;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-color: #3f41d1;
    -fx-border-radius: 4px;
}

#languageCB {
  -fx-font:bold 10pt"Arial";
  -fx-background-color: #545454;
  -fx-border-width: 2px;
  -fx-border-style: solid;
  -fx-border-color: #3f41d1;
  -fx-border-radius: 4px;
  -fx-text-fill:white;
}

.combo-box-base {
  -fx-text-fill:white;
}

#languageCB:hover {
  -fx-background-color: #808080;
  -fx-border-width: 2px;
  -fx-border-style: solid;
  -fx-border-color: #3f41d1;
  -fx-border-radius: 4px;
}

#myTF {
  -fx-font:10pt"Arial";
  -fx-background-color: #545454;
  -fx-border-width: 1px;
  -fx-border-style: solid;
  -fx-border-color: #3f41d1;
  -fx-border-radius: 4px;
  -fx-text-fill:white;
}
